.Bestsellers-grid {
    position: relative;
}

.Bestsellers-grid > .Bestsellers-card {
    position: relative;
    width: 320px;
    height: 450px;
    background: #232323;
    border-radius: 20px;
    overflow: hidden;
}

.Bestsellers-grid > .Bestsellers-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1BBFE9;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.Bestsellers-grid > .Bestsellers-card > .Bestsellers-card-imagebox {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.Bestsellers-grid > .Bestsellers-card:hover > .Bestsellers-card-imagebox {
    cursor: pointer;
    top: 0%;
    transform: translateY(-25%);
    /* bug  */
}

.Bestsellers-grid > .Bestsellers-card > .Bestsellers-card-imagebox > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
    width: 270px;
}

.Bestsellers-grid > .Bestsellers-card > .Bestsellers-card-contentbox {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.Bestsellers-grid > .Bestsellers-card:hover > .Bestsellers-card-contentbox {
    height: 210px;
}

.Bestsellers-grid > .Bestsellers-card > .Bestsellers-card-contentbox > h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.Bestsellers-grid > .Bestsellers-card > .Bestsellers-card-contentbox > .Bestsellers-card-size {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.Bestsellers-grid > .Bestsellers-card > .Bestsellers-card-contentbox > .Bestsellers-card-color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.Bestsellers-grid > .Bestsellers-card:hover > .Bestsellers-card-contentbox > .Bestsellers-card-size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.Bestsellers-grid > .Bestsellers-card:hover > .Bestsellers-card-contentbox > .Bestsellers-card-color {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.Bestsellers-grid > .Bestsellers-card > .Bestsellers-card-contentbox > .Bestsellers-card-size > h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.Bestsellers-grid > .Bestsellers-card > .Bestsellers-card-contentbox > .Bestsellers-card-color > h3 {
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.Bestsellers-grid > .Bestsellers-card > .Bestsellers-card-contentbox > .Bestsellers-card-size > span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background: #fff;
    margin: 0 5px;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.Bestsellers-grid > .Bestsellers-card > .Bestsellers-card-contentbox > .Bestsellers-card-size > span:hover {
    background: #B90000;
}

.Bestsellers-grid > .Bestsellers-card > .Bestsellers-card-contentbox > .Bestsellers-card-color > span {
    width: 20px;
    height: 20px;
    background: #ff0;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.Bestsellers-grid > .Bestsellers-card > .Bestsellers-card-contentbox > .Bestsellers-card-color > span:nth-child(2) {
    background: #1BBFE9;
}

.Bestsellers-grid > .Bestsellers-card > .Bestsellers-card-contentbox > .Bestsellers-card-color > span:nth-child(3) {
    background: #1B2FE9;
}

.Bestsellers-grid > .Bestsellers-card > .Bestsellers-card-contentbox > .Bestsellers-card-color > span:nth-child(4) {
    background: #080481;
}

.Bestsellers-grid > .Bestsellers-card > .Bestsellers-card-contentbox > a {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.Bestsellers-grid > .Bestsellers-card:hover > .Bestsellers-card-contentbox > a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
}
