.Gridmain {
    /* background: yellow; */
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    white-space: nowrap;
    padding: 30px;
}

.Gridmain > .designmain {
    margin-right: 10px;
    background: white;
    width: 340px;
    display: flex;
    flex-direction: column;
}

.Gridmain > .designmain > img {
    cursor: pointer;
    width: 100%;
}

