.NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 0 30px;
    width: 100%;
    height: 60px;
    margin-top: 7px;
}

.navbar-logo {
    color: #fff;
}

.NavbarItems > h2:hover {
    color: blue;
    cursor: pointer;
}

.NavbarItems > ul {
    display: flex;
    list-style: none;
}

.NavbarItems > ul > li {
    padding: 15px;
}

.NavbarItems > ul > li > a {
    text-decoration: none;
    color: black;
}

.NavbarItems > ul > li > a:hover {
    color: blue;
}

.NavbarItems > ol {
    display: flex;
    list-style: none;
}

.NavbarItems > ol > li {
    padding: 15px;
}

.NavbarItems > ol > li > a {
    text-decoration: none;
    color: black;
}

.NavbarItems > ol > li > a:hover {
    color: blue;
}
